/* 
.main-modal {
  display: none;
}

.modal-container {
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.modal-content {
  overflow: auto;
}

.animated {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

.main-modal {
  display: none;
}

.modal-container {
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.modal-content {
  overflow: auto;
  position: relative; /* Asegura que los elementos absolutos estén posicionados correctamente */
}

.animated {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
  z-index: 50; /* Asegura que la "X" esté por encima de otros contenidos */
}
